---
import '../components/index_style.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <div id="snapper" class="scroll-smooth snap-y snap-mandatory h-screen overflow-scroll">
      <section id="Home" class="h-screen flex-row snap-start justify-end py-8">
        <div class="cont flex flex-col h-full items-stretch  justify-between ml-16 md:mr-16">
          <div
              id="diamond"
              class="wow fadeIn invisible"
              data-wow-delay="0.1s"
            >
            <img
              id="diamond_img"
              src="/media/diamond.png"
            />
          </div>
          <div class="mt-36">
            <h1
              class="wow fadeIn text-white text-left uppercase px-5 text-4xl mt-4 invisible pr-6"
              data-wow-delay="0s"
            >
              A.A. RACHMINOV
            </h1>
            <p
              class="px-5 py-1 text-base mb-3 font-medium text-white transition duration-100 inline w-fit invisible wow fadeIn"
              data-wow-delay="2s"
            >
              {`SET APART BY PERFECTION`}
            </p>
          </div>
        </div>
        {/*<p>Click on nav menu to see it in action</p>*/}
      </section>
      <section
        id="About"
        class="flex-col snap-start justify-start align-top items-start md:items-end pl-[10%] md:pr-60 h-screen"
      >
        <div class="w-[50vw] md:w-56 mt-24">
          <p class="wow slideInLeft about-left-text" data-wow-delay=".4s">
            The planning and marking stage is one of the most important steps
            in the diamond cutting process. Our team of experts use
            state-of-the-art technology to analyze each rough diamond and
            determine the best possible cut and shape for maximum brilliance
            and profit.
          </p>
          <a href="javascript:void(0);" class="wow fadeIn mt-6 flex" data-wow-delay="1s">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth={1.5}
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
            <span class="pl-1">read more</span>
          </a>
        </div>
      </section>
      <section>
        <div class="flex flex-row justify-start align-center self-start pt-4 pb-8 md:pb-10">
          <h3 class="text-orange-600 mt-8 md:mt-4 ml-8 md:ml-16 text-3xl w-min relative">
            Effortlessly accessible
            <div class="border-l border-orange-800 w-32 sm:w-auto h-28 ml-12 mr-14 rotate-[25deg] translate-x-32 transform-gpu mt-3 md:mt-0 -left-6 md:-left-0 top-0 absolute -right-7"></div>
          </h3>
          <div class="md:w-full mt-10 md:mt-8 ml-12 md:ml-24 relative">
            <p class="wow slideInLeft small text-white maxw-24 w-32 md:w-60 invisible" data-wow-delay="0s" data-wow-duration="1s">
            </p>
            <a href="javascript:void(0);" class="wow slideInRight mt-2 small flex" data-wow-delay="1s">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth={1.5}
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              <span class="pl-1 mt-0">read more</span>
            </a>
          </div>
        </div>
      </section>
      <section
        id="Map"
        class="flex-col snap-start justify-end align-top items-start md:items-end h-screen flex"
      >
        <div class="grid gap-16 py-16 grid-cols-2 md:grid-cols-none md:grid-flow-col  bg-gray-200 w-screen justify-items-center text-center feat-Features">
          <div>
            <label>Lorem ipsum</label>
            <p>Lorem ipsum</p>
          </div>
          <div>
            <label>Lorem Ipsum</label>
            <p>Lorem Ipsum</p>
          </div>
          <div>
            <label>Lorem Ipsum</label>
            <p>Lorem Ipsum</p>
          </div>
          <div>
            <label>Lorem Ipsum</label>
            <p>Lorem Ipsum</p>
          </div>
          <div>
            <label>Lorem Ipsum</label>
            <p>Lorem Ipsum</p>
          </div>
          <div>
            <label>Lorem Ipsum</label>
            <p>
              {`bla bla bla bla bla bla`}
            </p>
          </div>
        </div>
      </section>
      <section id="foo" class="py-40 bg-white"></section>
      <footer id="Footer" class="py-8 flex-col snap-end justify-start align-top items-end mt-32">
        <p>THis is footer</p>
        <br />
        <br />
        <br />
      </footer>
    </div>
	</main>
</Layout>

<script>
  import "../components/index_scroll.js";
</script>
